.review-style-1{
  background-color: var(--cream);
  padding-top: 3rem;
  padding-bottom: 5rem;
}

.review-style-2{
  background-color: var(--light-cream);
  padding-top: 3rem;
  padding-bottom: 5rem;
}

.review-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.review-text-container{
  order: 0;
}

.review-h2{
  text-align: center;
  padding-top: 2rem;
}

.date{
  font-size: 1rem;
  color: rgba(77, 62, 62, 0.6);
}

.button-container{
  order: 2;
  display: flex;
  justify-content: center;
}

.review-button{
  margin-top: 3rem;
}

.img-container{
  padding-top: 3rem;
  order: 1;
  display: flex;
  justify-content: center;
}

.rating{
  font-size: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.next-page-container{
  background-color: var(--light-cream);
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: flex;
  justify-content: center;
}

.next-page-button{
  margin-top: 0;
  margin-left: 1rem;
  margin-right: 1rem;
}

@media (min-width: 769px) {
  // all styles

  .review-button{
    margin-top: 4rem;
  }
  
  .review-container{
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 3rem 8rem 1rem 8rem;
  }

  .review-h2{
    text-align: left;
  }

  .noodle-img{
    height: 90%;
    width: 90%;
  }

  // Styles for style2
  .review-style-2 .date{
    padding-left: 3rem;
  }

  .review-style-2 .review-text-container{
    width: 45%;
  }

  .review-style-2 .img-container{
    padding-top: 0;
    width: 45%;
  }

  .button-container{
    justify-content: flex-start;
  }

  // Styles for style1

  .review-style-1 .review-container{
    clear: right;
  }

  .review-style-1 .review-text-container{
    order: 1;
    width: 45%;
  }

  .review-style-1 .img-container{
    padding-top: 0;
    width: 45%;
    order: 0;
  }

  .review-style-1 .date{
    padding-left: 0rem;
    padding-right: 3rem;
    float: right;
  }
}