.date {
  font-size: 1rem;
  color: rgba(77, 62, 62, 0.6);
}

.post-text-container {
  order: 0;
}

.button-container {
  order: 2;
  display: flex;
  justify-content: center;
}

.review-button {
  margin-top: 4rem;
}

.rating {
  font-size: 1rem;
  padding-bottom: 2rem;
}

@media (min-width: 769px) {
  // all styles

  .review-button {
    margin-top: 4rem;
  }

  .button-container {
    justify-content: flex-start;
  }

  .post-style-1 .date {
    padding-left: 0rem;
    padding-right: 3rem;
    float: right;
  }
}
